{% load static %}
{% include 'header.html' %}

<div class="site-section">
  <div class="container">
    <div class="row">

      <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
        <div class="blog-entry">
          <a href="blog-single.html" class="img-link">
            <img src="{% static 'images/img_sq_1.jpg' %}" alt="Image" class="img-fluid">
          </a>
          <div class="blog-entry-contents">
            <h3><a href="#">How AgriTracker Improved Crop Yield by 30%</a></h3>
            <div class="meta">
              Posted by <a href="#">Farmer (Seller)</a> In <a href="#">Success Story</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
        <div class="blog-entry">
          <a href="blog-single.html" class="img-link">
            <img src="{% static 'images/img_sq_7.jpg' %}" alt="Image" class="img-fluid">
          </a>
          <div class="blog-entry-contents">
            <h3><a href="#">Direct Selling Helped Me Avoid Middlemen</a></h3>
            <div class="meta">
              Posted by <a href="#">Verified Farmer</a> In <a href="#">Marketplace Review</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
        <div class="blog-entry">
          <a href="blog-single.html" class="img-link">
            <img src="{% static 'images/img_sq_3.jpg' %}" alt="Image" class="img-fluid">
          </a>
          <div class="blog-entry-contents">
            <h3><a href="#">Best Practices for Water & Fertilizer Management</a></h3>
            <div class="meta">
              Posted by <a href="#">AgriTracker Admin</a> In <a href="#">Best Practices</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
        <div class="blog-entry">
          <a href="blog-single.html" class="img-link">
            <img src="{% static 'images/img_sq_4.jpg' %}" alt="Image" class="img-fluid">
          </a>
          <div class="blog-entry-contents">
            <h3><a href="#">Farmer Review: Easy Crop Tracking with AgriTracker</a></h3>
            <div class="meta">
              Posted by <a href="#">User Review</a> In <a href="#">Feedback</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
        <div class="blog-entry">
          <a href="blog-single.html" class="img-link">
            <img src="{% static 'images/img_sq_5.jpg' %}" alt="Image" class="img-fluid">
          </a>
          <div class="blog-entry-contents">
            <h3><a href="#">Using Farm Analytics for Smarter Decisions</a></h3>
            <div class="meta">
              Posted by <a href="#">Agri Expert</a> In <a href="#">Farm Analytics</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
        <div class="blog-entry">
          <a href="blog-single.html" class="img-link">
            <img src="{% static 'images/img_sq_6.jpg' %}" alt="Image" class="img-fluid">
          </a>
          <div class="blog-entry-contents">
            <h3><a href="#">Buyer Experience: Transparent Pricing & Quality</a></h3>
            <div class="meta">
              Posted by <a href="#">Buyer</a> In <a href="#">Buyer Review</a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row text-center mt-5">
      <div class="col-12">
        <a href="#" class="p-3 d-inline-block">1</a>
        <a href="#" class="p-3 d-inline-block">2</a>
        <span class="p-3 d-inline-block text-black">3</span>
        <a href="#" class="p-3 d-inline-block">4</a>
        <a href="#" class="p-3 d-inline-block">5</a>
      </div>
    </div>
  </div>
</div>

{% include 'footer.html' %}
