{% load static %}

{% include 'header1.html' %}

<header class="section-header">
<section class="header-main border-bottom">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-2 col-md-3 col-6">
				<a href="{% url 'home' %}" class="brand-wrap">
					<img class="logo" src="{% static 'images/agritracker_logo.jpeg' %}">
				</a> <!-- brand-wrap.// -->
			</div>
			<div class="col-lg col-sm col-md col-6 flex-grow-0">
				<div class="category-wrap dropdown d-inline-block float-right">
					<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"> 
						<i class="fa fa-bars"></i> All category 
					</button>
					<div class="dropdown-menu">
						{% for category in links %}
							<a class="dropdown-item" href="{{ category.get_url }}">{{ category.category_name }}</a>
						{% endfor %}
					</div>
				</div>  <!-- category-wrap.// -->
			</div> <!-- col.// -->
			<a href="{% url 'store' %}" class="btn btn-outline-success">Store</a>
			<div class="col-lg col-md-6 col-sm-12 col">
				<form action="{% url 'store_search' %}" method="GET" class="search"> <!-- Updated the URL -->
					<div class="input-group w-100">
						<input type="text" class="form-control" style="width:60%;" placeholder="Search" name="keyword">
						<div class="input-group-append">
							<button class="btn btn-success" type="submit">
								<i class="fa fa-search"></i>
							</button>
						</div>
					</div>
				</form>
			</div> <!-- col.// -->
		</div> <!-- row.// -->
	</div> <!-- container.// -->
</section> <!-- header-main .// -->
</header> <!-- section-header.// -->

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
	<div class="container">
		<h2 class="title-page">
			{% if request.GET.keyword %}
				Search results for "{{ request.GET.keyword }}"
			{% else %}
				Our Store
			{% endif %}
		</h2>
	</div> <!-- container // -->
</section>

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
	<div class="container">
		<div class="row">
			<aside class="col-md-3">
				<!-- Categories and Filters -->
				<div class="card">
					<article class="filter-group">
						<header class="card-header">
							<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true">
								<i class="icon-control fa fa-chevron-down text-success"></i>
								<h6 class="title text-success">Categories</h6>
							</a>
						</header>
						<div class="filter-content collapse show" id="collapse_1">
							<div class="card-body">
								<ul class="list-menu">
									{% for category in links %}
										<li><a href="{{ category.get_url }}"> {{ category.category_name }} </a></li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</article>
				</div> <!-- card.// -->
			</aside>

			<main class="col-md-9">
				<header class="border-bottom mb-4 pb-3">
					<div class="form-inline">
						<span class="mr-md-auto">{{ product_count }} items found</span>
					</div>
				</header>

				<div class="row">
					{% if products %}
						{% for product in products %}
							<div class="col-md-4">
								<figure class="card card-product-grid">
									<div class="img-wrap">
										<img src="{{ product.images.url }}" alt="{{ product.product_name }}">
									</div>
									<figcaption class="info-wrap">
										<div class="fix-height">
											<a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
											<div class="price-wrap mt-2">
												<span class="price">Rs {{ product.price }}</span>
											</div>
										</div>
										<a href="{{ product.get_url }}" class="btn btn-block btn-success">Buy Now</a>
									</figcaption>
								</figure>
							</div>
						{% endfor %}
					{% else %}
						<div class="col-12">
							<h2 class="text-danger">No results found. Please try again.</h2>
						</div>
					{% endif %}
				</div> <!-- row end.// -->

				<!-- Pagination -->
				<nav class="mt-4" aria-label="Page navigation sample">
					<ul class="pagination">
						<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
						<li class="page-item active"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">Next</a></li>
					</ul>
				</nav>
			</main>
		</div> <!-- row -->
	</div> <!-- container -->
</section>
